* {
	font-family: 微軟正黑體;
}

.page {
	overflow: hidden;
}

.sectionBlock {min-height: 350px; margin: 10px 0; padding: 10px 0 30px 0; overflow: hidden;}
.section1 {}
.section2 {overflow:hidden; position: relative; height: 550px;}
.section2 .title {padding: 5px 0 5px 0; text-align: center;}

.productCard { position: absolute; left:0px; top:65px;}

.prodlist {
	display: inline-block;
	width: 200px;
	padding: 5px;
	text-align: center;
	border-top:10px solid #9D9D9D;
	border-bottom:10px solid #9D9D9D;
	border-radius:5px;
	margin: 0 5px;
	transition: all .2s;
}

.prodlist:hover {
	background-color: #FFF4C1;
}

.prodlist .prodtitle {
	font-size: 20px;
	height: 100px;
	margin: 0 auto 5px;
	font-weight: bold;
	color: #000;
}

.prodlist img {
	display: block;
	height: 100px;
	margin: 0 auto;
}

.button-add {
	margin: 15px;
	padding: 5px 10px;
	background-color: #01B468;
	color: #fff;
	outline: none;
	border-radius: 5px;
}

.button-add:hover {
	background-color: #fff;
	color: #019858;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

@media ( max-width : 960px) {
	.prodlist {
		width: 31%;
	}
}

@media ( max-width : 600px) {
	.prodlist {
		width: 48%;
	}
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}