* {
	font-family: 微軟正黑體;
}

.page {
	overflow: hidden;
}

p{
	margin:150px;
}

.prodlist {
	float: left;
	width: 20%;
	min-height:360px;
	padding: 5px;
	text-align: center;
	border-style:outset;
	margin: 0 1% 1% 1%;
	transition: all 1s
}

.prodlist:hover{transform: scale(1.1,1.1);}


.prodlist .prodtitle {
	font-size: 20px;
	margin: 0 auto 5px;
	font-weight: bold;
	color: #000;
	height:100px;
}

.prodlist img {
	display: block;
	height:180px;
	margin: 0 auto;
}

.button-add {
	margin: 15px;
	padding: 5px 10px;
	background-color: #01B468;
	color: #fff;
	outline: none;
	border-radius: 5px;
}

.button-add:hover {
	background-color: #fff;
	color: #019858;
}

.button-confirm {
	margin: 0 auto;
	padding: 5px 10px;
	background-color: #FF359A;
	color: #fff;
	outline: none;
	border-radius: 5px;
}

.button-confirm:hover {
	background-color: #fff;
	color: #FF359A;
	border: 1px solid #FF359A;
}

@media ( max-width : 960px) {
	.prodlist {
		width: 31%;
	}
}

@media ( max-width : 600px) {
	.prodlist {
		width: 48%;
	}
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}